{% extends 'auth/layout.html' %}

{% block body %}
<form method="post" action="/signup">

        {% with messages = get_flashed_messages() %}
        {% if messages %}
            <br>
            <div class="alert alert-warning">
                {{ messages[0] }}
            </div>
        {% endif %}
        {% endwith %}

    <h1 class="h3 mb-3 font-weight-normal">Inscription</h1>

    <label>Username</label>
    <input type="text" name="username" class="form-control" value="" required autofocus  placeholder="Username (login)"><br>

    <label for="_email">Email</label>
    <input type="text" name="email" class="form-control" value="" required  placeholder="Email"><br>

    <label for="_password">Mot de passe</label>
    <input type="password" name="password" class="form-control" value="" required  placeholder="Password"><br>

    <label for="_adresse">Adresse</label>
    <input type="text" name="adresse" class="form-control" value="" required  placeholder="Adresse"><br>

    <label for="_region">Région</label><br>
    <select name="region" required>
            <option value="">Sélectionnner une région</option>
            <option value="1">Auvergne-Rhône-Alpes</option>
            <option value="2">Bourgogne Franche-Comté</option>
            <option value="3">Bretagne</option>
            <option value="4">Centre-Val-de-Loire</option>
            <option value="5">Corse</option>
            <option value="6">Grand-Est</option>
            <option value="7">Hauts-de-France</option>
            <option value="8">Île-de-France</option>
            <option value="9">Normandie</option>
            <option value="10">Nouvelle-Aquitaine</option>
            <option value="11">Occitanie</option>
            <option value="12">Pays-de-la-Loire</option>
            <option value="13">Provence-Alpes-Côte-D'Azur</option>
        </select><br>


    <button class="btn btn-lg btn-primary mt-4" type="submit">
        Valider l'inscription (Sign Up)
    </button>
</form>

{% endblock %}

