{% extends 'admin/layout_admin.html' %}

{% block title %}
    <title>Ajouter un type de ski</title>
{% endblock %}

{% block body %}
    <div class="text-center">
  <h2>Ajout d'un type de ski</h2>
  {% if error %}
    <p class=error><strong>Error:</strong> {{ error }}
  {% endif %}
  <form method="post" action="/admin/type-article/add" {#action="{{ url_for('valid_add_typeSport') }}#} >
    <fieldset>
        <legend> Créer un type de ski</legend><br>
        <label for="libelle">Libelle :</label><br>
        <input autocomplete="off" id="libelle" type="text" name="libelle" size="18" value="" placeholder="Saisir le libelle du type du sport" required><br>
        <br>
        <input type="submit" value="Creer" name="Valider" >
    </fieldset>
  </form>
    </div>
{% endblock %}