{% extends 'client/layout_client.html' %}

{% block title %}
    <div class="text-center">
    <title>Ajouter un commentaire</title>
    </div>
{% endblock %}

{% block body %}
    <div class="text-center">
  <h2>Ajout d'un commentaire</h2>
    </div>
  {% if error %}
    <p class=error><strong>Error:</strong> {{ error }}
  {% endif %}
    <div class="text-center">
  <form method="post" action="/client/comment/add" {#action="{{ url_for('client_comment_add') }}#} >
    <fieldset>
        <div class="col">
                  <label for="inputAvis" class="form-label">Mettez un commentaire sur cet article : </label>
                     <textarea name="commentaire" class="form-control" aria-label="Donnez votre avis" id="inputAvis"  placeholder="Donnez votre avis"></textarea>
                </div>
                <div class="col-12">
                    <label for="inputNote" class="form-label">Donnez une note à cet article </label>
                    <input type="number" name="note" id="inputNote" step="0.5" min="0" max="5" class="form-control" style="width: 8rem !important;" value="" >
                </div>
        <br>
        <br>
        <input type="submit" value="Ajouter" name="Valider" >
    </fieldset>
  </form>
    </div>
{% endblock %}