{% extends 'admin/layout_admin.html' %}

{% block title %}
    <div class="text-center">
    <title>Sélecteur</title>
    </div>
{% endblock %}

{% block body %}
   <div class="row">
<div class="col-1">
    <br>
</div>
<div class="col-10">
<table class="table table-bordered border-dark">
    <thead class="thead-dark">
        <tr>
            <th class="text-center">Id du type de ski</th><th class="text-center">Nom du type de ski</th><th class="text-center">Nombre de skis de ce type</th><th class="text-center">Moyenne de longueur de chaque type de skis</th>
        </tr>
    </thead>
    <tbody>
    {% if typesSport | length >= 1 %}
        {% for ligne in typesSport %}
           <tr>
                  <td class="text-center">{{ ligne.id_typeSport }}</td>
                  <td class="text-center">{{ ligne.libelle }}</td>
                  <td class="text-center">{{ ligne.nb_sports }}</td>
               {% if ligne.avg_nb_pratiquant == 0 %}
                    <td class="text-center">Pas de type de sport dans cette catégorie</td>
               {% else %}
                  <td class="text-center">{{ ligne.avg_nb_pratiquant }}</td>
               {% endif %}
            </tr>
        {% endfor %}

    {% else %}
            <tr>
                  <td class="text-center">Pas d'Etat</td>
           </tr>
    {% endif %}
    </tbody>
</table>
</div>
    </div>
{% endblock %}

{#{% block javascripts %}
{#    attention il faut importer la bibliotheque chart.js avant de définir l'objet chart
    <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.js') }}" ></script>

      <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js"></script>
{% endblock %}

{% block title %}
    <title>afficher les types d'article</title>
{% endblock %}

{% block body %}
<h3>Coût de stockage</h3><br>
<a class="btn btn-outline-success" href="https://www.lokad.com/fr/couts-stock-definition" target="_blank">article sur les coûts de stockage</a>
<br><br>

    <h2>visualisation de données : graph.js</h2>
    labels: {{ labels | safe }} <br>
    data: {{ values | safe }}<br><br>
    <a href="https://tobiasahlin.com/blog/chartjs-charts-to-get-you-started/" target="_blank"> tuto partie1 graph.js</a><br>
    <a href="https://tobiasahlin.com/blog/introduction-to-chartjs" target="_blank"> tuto partie2 graph.js</a>&nbsp;
    <a href="https://www.youtube.com/watch?v=E2hytuQvLlE" target="_blank"> tuto partie2 graph.js</a>&nbsp;
    <br>

{# https://jinja.palletsprojects.com/en/3.0.x/templates/#html-escaping

    <a href="https://www.youtube.com/watch?v=TcwYXIIM-fs" target="_blank">dataviz, c'est quoi en 1 mn ? (juste la première minute)</a>
    <br>
    <a href="https://www.youtube.com/watch?v=bZDnSUjfMt8" target="_blank">dataviz, c'est quoi ? (juste la première minute)</a>
{% endblock %} #}